---
import Container from "./Container.astro";
import Facebook from "./logos/facebook.astro";
import Instagram from "./logos/instagram.astro";
import Telegram from "./logos/telegram.astro";

const LINKS = [
  {
    href: "#inicio",
    name: "Inicio",
  },
  {
    href: "#experiencia",
    name: "Experiencia",
  },
  {
    href: "#sobre-mi",
    name: "Sobre mí",
  },
];
const SOCIALS = [
  {
    icon: Facebook,
    text: "facebook",
    href: "https://www.facebook.com/profile.php?id=100071287513937",
  },
  {
    icon: Instagram,
    text: "instagram",
    href: "https://www.instagram.com/martin07.24/",
  },
  {
    icon: Telegram,
    text: "telegram",
    href: "https://t.me/XMrtN",
  },
];
---

<footer
  class="bg-gradient-to-r from-primary-100 to-primary-400 pb-12 text-primary-900 dark:bg-primary-950 dark:bg-none dark:text-zinc-400 max-sm:mb-14 md:pb-14"
>
  <Container
    class="grid gap-8 sm:grid-cols-2 md:grid-cols-[max-content_1fr_max-content]"
  >
    <div>
      <h1 class="text-xl font-semibold">Martín Sepúlveda</h1>
      <span class="mt-2 text-sm font-medium">Desarrollador</span>
    </div>

    <ul class="md:flex md:justify-center">
      {
        LINKS.map((link) => (
          <li>
            <a
              href={link.href}
              aria-label={link.name}
              class="inline-block whitespace-nowrap px-1 py-4 font-medium transition hover:text-primary-600 active:text-primary-800 dark:hover:text-primary-300 dark:active:text-primary-400 md:px-4 md:py-1"
            >
              {link.name}
            </a>
          </li>
        ))
      }
    </ul>

    <ul class="flex">
      {
        SOCIALS.map((social) => (
          <li class="group">
            <a
              href={social.href}
              aria-label={social.text}
              target="_blank"
              class="inline-block px-3 py-1 transition-colors hover:text-primary-600 active:text-primary-800 dark:hover:text-primary-300 dark:active:text-primary-400 group-first:max-md:pl-1 group-last:md:pr-1"
            >
              <social.icon class="size-5" />
            </a>
          </li>
        ))
      }
    </ul>

    <p
      class="mt-4 text-center text-xs font-medium text-zinc-600 dark:text-zinc-400 sm:col-span-2 md:col-span-3"
    >
      &#169; 2023. Hecho con ❤️ por Martín. Estructura inspirada en
      <a
        class="text-primary-700 underline decoration-primary-700 dark:text-primary-500 dark:decoration-primary-500"
        href="https://porfolio.dev/"
        target="_blank"
        rel="noreferrer">midudev</a
      > y diseño en
      <a
        class="text-primary-700 underline decoration-primary-700 dark:text-primary-500 dark:decoration-primary-500"
        href="https://www.wrappingmati.com.ar/"
        target="_blank"
        rel="noreferrer">wrappingmati</a
      >.
    </p>
  </Container>
</footer>
