---
import Button from "@components/Button.astro";
import Link from "@components/icons/link.astro";
import { PROJECTS } from "@lib/projects";
---

<section>
  {
    PROJECTS.map(({ id, images, title, description, tags }) => (
      <article class="card mb-16 grid items-start gap-x-4 last:mb-0 sm:grid-cols-2">
        <h3 class="mb-2 text-2xl font-semibold text-primary-600 dark:text-primary-300 sm:col-start-2">
          {title}
        </h3>
        <p class="line-clamp-3 max-sm:mb-4 sm:order-2 sm:col-start-2">
          {description}
        </p>
        <ul class="mb-2 flex flex-wrap gap-2 sm:order-1 sm:col-start-2">
          {tags.slice(0, 3).map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full border border-${tag.color}-200 bg-${tag.color}-50 px-2 py-1 text-xs text-${tag.color}-900 dark:border-${tag.color}-900 dark:bg-${tag.color}-950 dark:text-${tag.color}-200`}
              >
                <tag.icon class="size-4" /> {tag.name}
              </span>
            </li>
          ))}
        </ul>
        <a
          class="group w-full overflow-hidden rounded-lg shadow-2xl dark:shadow-white/10 sm:order-first sm:row-span-5"
          href={`/projects/${id}`}
          transition:name={`image-${id}`}
        >
          <img
            class="w-full transition-transform group-hover:scale-110"
            src={images[0]}
            alt="Proyecto Martín Sepúlveda"
          />
        </a>

        <footer class="mt-4 flex flex-wrap gap-4 sm:order-3 sm:col-start-2">
          <Button href={`/projects/${id}`}>
            <Link class="-ml-1 size-6" /> Ver más
          </Button>
        </footer>
      </article>
    ))
  }
</section>

<style>
  article {
    view-timeline-name: --revealing;
    view-timeline-axis: block;
    animation: reveal linear both;
    animation-timeline: --revealing;
    animation-range: entry 5% cover 20%;
  }

  @keyframes reveal {
    from {
      opacity: 0;
      translate: 0 100px;
    }
    to {
      opacity: 1;
      translate: 0 0;
    }
  }
</style>

<script>
  document.addEventListener("astro:after-swap", () => {
    document.documentElement.scrollTop = 0;
  });
</script>
