---
import Button from "@/components/Button.astro";
import Typography from "@/components/Typography.astro";
import Calendar from "@/components/icons/calendar.astro";
import Carousel from "@/components/icons/carousel.astro";
import Code from "@/components/icons/code.astro";
import Github from "@/components/icons/github.astro";
import Layout from "@/layouts/Layout.astro";
import { PROJECTS } from "@/lib/projects";
import type { GetStaticPaths } from "astro";

const { id } = Astro.params;

const project = PROJECTS.find((project) => project.id === id);

export const getStaticPaths = (() => {
  return PROJECTS.map((project) => ({
    params: { id: project.id },
  }));
}) satisfies GetStaticPaths;

if (!project) return;
---

<Layout
  title={`Proyecto ${project.title} | Portfolio de Martín Sepúlveda`}
  description={project.description}
  class="max-w-prose xl:max-w-prose"
>
  <section class="space-y-4">
    <h1
      class="z-10 mb-3 text-3xl font-bold text-neutral-800 sm:text-4xl md:text-5xl dark:text-neutral-100"
      transition:name={`title-${id}`}
    >
      {project.title}
    </h1>
    <span
      class="z-10 flex items-center gap-x-2 text-sm text-neutral-400 dark:text-neutral-600"
      transition:name={`date-${id}`}
    >
      <Calendar class="size-5" />
      {project.date}
    </span>
    {
      (project.repo || project.web) && (
        <footer class="mt-4 flex flex-wrap gap-4">
          {project.repo && (
            <Button href={project.repo} target="_blank" rel="noreferrer">
              <Github class="size-6" /> Ver código
            </Button>
          )}
          {project.web && (
            <Button href={project.web} target="_blank" rel="noreferrer" />
          )}
        </footer>
      )
    }
    <img
      class="aspect-video w-full rounded-lg object-cover shadow-2xl dark:shadow-white/10"
      src={project.images[0]}
      alt={project.title}
      transition:name={`image-${id}`}
    />
  </section>

  <section id="acerca-de" class="pt-16">
    <Typography as="h2"> Acerca de </Typography>

    <p class="text-lg">
      {project.description}
    </p>
  </section>

  <section id="info" class="pt-16">
    <Typography as="h2">
      <Code class="size-7" /> Información del proyecto
    </Typography>

    <p class="mb-4 text-lg">{project.info}</p>
    <ul class="flex flex-wrap gap-2">
      {
        project.tags.map((tag) => (
          <li>
            <span
              class={`flex items-center gap-x-2 rounded-md border border-${tag.color}-200 bg-${tag.color}-50 px-2 py-1 text-xs text-${tag.color}-900 dark:border-${tag.color}-900 dark:bg-${tag.color}-950 dark:text-${tag.color}-200`}
            >
              <tag.icon class="size-4" /> {tag.name}
            </span>
          </li>
        ))
      }
    </ul>
  </section>

  <section id="galeria" class="pt-16">
    <Typography as="h2">
      <Carousel class="size-7" /> Galería
    </Typography>

    <article class="columns-[12rem] gap-4 space-y-4 sm:columns-3xs">
      {
        project.images.map((img) => (
          <img
            class="w-full rounded-lg shadow-2xl dark:shadow-white/10"
            src={img}
            alt="Proyecto Martín Sepúlveda"
          />
        ))
      }
    </article>
  </section>
</Layout>

<style>
  @supports (animation-timeline: view()) {
    #galeria img {
      animation-timeline: view();
      animation-name: show;
      animation-timing-function: ease-in;
    }
  }

  @keyframes show {
    0% {
      opacity: 0;
      translate: 0 100px;
    }
    20% {
      opacity: 1;
      translate: 0 0;
    }
  }
</style>
