---
import Typography from "@/components/Typography.astro";
import Layout from "@/layouts/Layout.astro";
import { PROJECTS } from "@/lib/projects";
import type { GetStaticPaths } from "astro";

const { id } = Astro.params;

const project = PROJECTS.find((project) => project.id === id);

export const getStaticPaths = (() => {
  return PROJECTS.map((project) => ({
    params: { id: project.id },
  }));
}) satisfies GetStaticPaths;

if (!project) return;
---

<Layout
  title={`Proyecto ${project.title} | Portfolio de Martín Sepúlveda`}
  description={project.description}
>
  <main class="mx-auto mb-32 mt-16 max-w-prose px-4 sm:mt-32">
    <article class="mx-auto max-w-prose">
      <time
        datetime={project.date}
        class="flex items-center gap-3 text-neutral-700 dark:text-neutral-400"
        transition:name={`date-${id}`}
      >
        <span class="h-4 w-0.5 rounded-full bg-neutral-500"></span>
        {project.date}
      </time>

      <Typography as="h1" class="mt-6" transition:name={`title-${id}`}>
        {project.title}
      </Typography>

      <ul class="mt-4 flex flex-wrap gap-2">
        {
          project.tags?.map((tag) => (
            <li>
              <span
                class={`flex items-center gap-1 rounded-md border font-light border-${tag.color}-200 bg-${tag.color}-50 p-2 text-xs text-${tag.color}-900 dark:border-${tag.color}-900 dark:bg-${tag.color}-950 dark:text-${tag.color}-200`}
              >
                <tag.Icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))
        }
      </ul>

      {
        project.images && (
          <picture class="box-outline mt-8 block rounded-xl p-1 shadow">
            <img
              class="w-full rounded-lg object-cover"
              src={project.images[0]}
              alt={project.title}
              transition:name={`image-${id}`}
            />
          </picture>
        )
      }

      {
        project.info && (
          <>
            <Typography as="h2" variant="sm" class="mt-20">
              Información del proyecto
            </Typography>

            <p class="mt-4 font-light">{project.info}</p>
          </>
        )
      }

      {
        project.description && (
          <>
            <Typography as="h2" variant="sm" class="mt-20">
              Acerca de
            </Typography>

            <p class="mt-4 font-light">{project.description}</p>
          </>
        )
      }

      {
        project.images && (
          <>
            <Typography as="h2" variant="sm" class="mt-20">
              Galería
            </Typography>

            <div class="mt-4 columns-[12rem] gap-4 space-y-4 sm:columns-3xs">
              {project.images.map((img) => (
                <img
                  class="w-full rounded-lg shadow-2xl dark:shadow-white/10"
                  src={img}
                  alt="Proyecto Martín Sepúlveda"
                />
              ))}
            </div>
          </>
        )
      }
    </article>
  </main>
</Layout>
